In [6]:
import pandas as pd
import numpy as np

import warnings
warnings.simplefilter(action='ignore')

In [7]:
names = ['abd', 'htc', 'nur']

print(*enumerate(names))

(0, 'abd') (1, 'htc') (2, 'nur')

In [8]:
for i in enumerate(names, 1):
    print(i)

(1, 'abd')
(2, 'htc')
(3, 'nur')

In [9]:
'abd'.isalpha()

True

In [10]:
'123'.isnumeric()

True

In [11]:
'abd26'.isalnum()

True

In [12]:
name = 'abdullahcay'
name.index('b')

1

In [13]:
name.index('a')

0

In [14]:
name.index('a',1)

6

In [15]:
name.startswith('A')

False

In [16]:
name.startswith('a')

True

In [17]:
name.endswith('y')

True

In [18]:
name.count('a')

3

In [19]:
sorted('data_analysis')

['_', 'a', 'a', 'a', 'a', 'd', 'i', 'l', 'n', 's', 's', 't', 'y']

In [20]:
print(*sorted(name), sep='')

aaabcdhlluy

In [21]:
name = 'Data Analsis 01'
name.split()

['Data', 'Analsis', '01']

In [22]:
name = 'Data_Analsis_01'
name.split()

['Data_Analsis_01']

In [23]:
name.split('_')

['Data', 'Analsis', '01']

In [24]:
name.upper()

'DATA_ANALSIS_01'

In [25]:
name.lower()

'data_analsis_01'

In [26]:
name.islower()

False

In [27]:
name.isupper()

False

In [28]:
name = 'Data_Analsis_01'
name.lower().islower()

True

In [29]:
name = 'abdullah cay'
name.capitalize()

'Abdullah cay'

In [30]:
name.title()

'Abdullah Cay'

In [31]:
name= 'Abdullah Cay'
name.swapcase()

'aBDULLAH cAY'

In [32]:
name = ' hello '

name.strip()

'hello'

In [33]:
name = ' *hello* '
name.strip('*')

' *hello* '

In [34]:
name = '*hello*'
name.strip('*')

'hello'

In [35]:
name = 'Abdullah Cay 01'
name_split = name.split()
name_split

['Abdullah', 'Cay', '01']

In [36]:
joiner = " "
joiner.join(name_split)

'Abdullah Cay 01'

In [37]:
joiner = '-'
joiner.join(name_split)

'Abdullah-Cay-01'

In [38]:
name.replace('A', 'Ka')

'Kabdullah Cay 01'

In [39]:
ifade = "Bu ifade İçerisinde bağzı TÜrkçe karakterler vardır"

old_letters = "çÇğĞıİöÖşŞüÜ"
new_letters = "cCgGiIoOsSuU"

In [40]:
change_letters_func = str.maketrans(old_letters, new_letters)
ifade.translate(change_letters_func)

'Bu ifade Icerisinde bagzi TUrkce karakterler vardir'

In [41]:
names = ['abd', 'htc', 'nor', 'martin', 'oracle', 'Oracle']

In [42]:
names.str.contains('tc')

AttributeError: 'list' object has no attribute 'str'

In [43]:
v_names = pd.Series(names)
v_names.str.contains('or')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [44]:
v_names[v_names.str.contains('or')]

2       nor
4    oracle
dtype: object

In [45]:
v_names.str.contains('or').sum()

2

In [46]:
# Small and Big letter together search

In [47]:
v_names.str.contains('[oO]r').sum()

3

# NLP

In [48]:
text = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

text

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [49]:
# Convert to list
list_text = text.split('\n')
list_text

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [50]:
# convert to series
v_text = pd.Series(list_text)
v_text

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [51]:
# Drop na
v_text = v_text[1:]
v_text

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [52]:
df = pd.DataFrame(v_text, columns =['stories'])
df.head()

                        stories
1      A Scandal in Bohemia! 01
2       The Red-headed League,2
3        A Case, of Identity 33
4  The Boscombe Valley Mystery4
5         The Five Orange Pips1

In [53]:
df2 = df.copy()

In [54]:
# Make lowercase all words in data frame 
# first split the row , than make lower, and than join the words with blank
df2.stories = df2.stories.apply(lambda x : ' '.join(i.lower() for i in  x.split()))
df2

                                  stories
1                a scandal in bohemia! 01
2                 the red-headed league,2
3                  a case, of identity 33
4            the boscombe valley mystery4
5                   the five orange pips1
6           the man with? the twisted lip
7     the adventure of the blue carbuncle
8      the adventure of the speckled band
9   the adventure of the engineer's thumb
10    the adventure of the noble bachelor
11     the adventure of the beryl coronet
12    the adventure of the copper beeches

## Delete except letter and digit (unwanted characters)

In [55]:
df2.stories = df2.stories.str.replace('[^\w\s]', '')
df2

                                 stories
1                a scandal in bohemia 01
2                  the redheaded league2
3                  a case of identity 33
4           the boscombe valley mystery4
5                  the five orange pips1
6           the man with the twisted lip
7    the adventure of the blue carbuncle
8     the adventure of the speckled band
9   the adventure of the engineers thumb
10   the adventure of the noble bachelor
11    the adventure of the beryl coronet
12   the adventure of the copper beeches

## Delete Numbers

In [56]:
# Delete Numbers
df2.stories = df2.stories.str.replace('\d', '')
df2

                                 stories
1                  a scandal in bohemia
2                   the redheaded league
3                    a case of identity
4            the boscombe valley mystery
5                   the five orange pips
6           the man with the twisted lip
7    the adventure of the blue carbuncle
8     the adventure of the speckled band
9   the adventure of the engineers thumb
10   the adventure of the noble bachelor
11    the adventure of the beryl coronet
12   the adventure of the copper beeches

In [57]:
# Stopwords
import nltk

In [58]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/macbook/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [59]:
from nltk.corpus import stopwords
sw = stopwords.words('english')
sw[0:5]

['i', 'me', 'my', 'myself', 'we']

In [60]:
df3 = df2.copy()

## Delete Stopwords

In [61]:
# Delete Stopwords
df3.stories = df3.stories.apply(lambda x: " ".join(i for i in x.split() if i not in sw))
df3.stories

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: stories, dtype: object

# Delete Low Frequence Words

In [62]:
pd.Series(' '.join(df3.stories).split()).value_counts()

adventure    6
scandal      1
bohemia      1
copper       1
coronet      1
beryl        1
bachelor     1
noble        1
thumb        1
engineers    1
band         1
speckled     1
carbuncle    1
blue         1
lip          1
twisted      1
man          1
pips         1
orange       1
five         1
mystery      1
valley       1
boscombe     1
identity     1
case         1
league       1
redheaded    1
beeches      1
dtype: int64

In [63]:
delete = pd.Series(' '.join(df3.stories).split()).value_counts()[-4:-2]
delete

case      1
league    1
dtype: int64

In [64]:
df3.stories = df3.stories.apply(lambda x : ' '.join(i for i in x.split() if i not in delete))
df3

                      stories
1             scandal bohemia
2                   redheaded
3                    identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12   adventure copper beeches

## Tokenization 
    - Sentence to words

In [65]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/macbook/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [66]:
import sys
!{sys.executable} -m pip install textblob
import textblob

Requirement already satisfied: textblob in /opt/anaconda3/lib/python3.9/site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /opt/anaconda3/lib/python3.9/site-packages (from textblob) (3.7)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (4.64.0)
Requirement already satisfied: regex>=2021.8.3 in /opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (2022.3.15)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (8.0.4)

In [67]:
from textblob import TextBlob

In [75]:
df3['stories'].apply(lambda x : TextBlob(x).words)

1                [scandal, bohemia]
2                       [redheaded]
3                        [identity]
4       [boscombe, valley, mystery]
5              [five, orange, pips]
6               [man, twisted, lip]
7      [adventure, blue, carbuncle]
8       [adventure, speckled, band]
9     [adventure, engineers, thumb]
10     [adventure, noble, bachelor]
11      [adventure, beryl, coronet]
12     [adventure, copper, beeches]
Name: stories, dtype: object

## Stemming 
    - words to word's root

In [89]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [91]:
df3.stories.apply(lambda x: ' '.join(st.stem(item) for item in x.split()))

1            scandal bohemia
2                    redhead
3                      ident
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10    adventur nobl bachelor
11    adventur beryl coronet
12     adventur copper beech
Name: stories, dtype: object

# Lemmatization

In [94]:
from textblob import Word
nltk.download('wordnet')
nltk.download('omw-1.4') # give error , need install this packacke

[nltk_data] Downloading package wordnet to /Users/macbook/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /Users/macbook/nltk_data...

True

In [97]:
df3.stories = df3.stories.apply(lambda x: ' '.join(Word(item).lemmatize() for item in x.split()))
df3

                     stories
1            scandal bohemia
2                  redheaded
3                   identity
4    boscombe valley mystery
5            five orange pip
6            man twisted lip
7   adventure blue carbuncle
8    adventure speckled band
9   adventure engineer thumb
10  adventure noble bachelor
11   adventure beryl coronet
12    adventure copper beech

In [104]:
d = {"first_one" : df.stories, 'second_one': df2.stories, 'third_one' : df3.stories}
df_compare = pd.DataFrame(d)
df_compare

,first_one,second_one,third_one
1,A Scandal in Bohemia! 01,a scandal in bohemia,scandal bohemia
2,"The Red-headed League,2",the redheaded league,redheaded
3,"A Case, of Identity 33",a case of identity,identity
4,The Boscombe Valley Mystery4,the boscombe valley mystery,boscombe valley mystery
5,The Five Orange Pips1,the five orange pips,five orange pip
6,The Man with? the Twisted Lip,the man with the twisted lip,man twisted lip
7,The Adventure of the Blue Carbuncle,the adventure of the blue carbuncle,adventure blue carbuncle
8,The Adventure of the Speckled Band,the adventure of the speckled band,adventure speckled band
9,The Adventure of the Engineer's Thumb,the adventure of the engineers thumb,adventure engineer thumb
10,The Adventure of the Noble Bachelor,the adventure of the noble bachelor,adventure noble bachelor
11,The Adventure of the Beryl Coronet,the adventure of the beryl coronet,adventure beryl coronet
12,The Adventure of the Copper Beeches,the adventure of the copper beeches,adventure copper beech

# NLP Steps

## N-Gram (Word Combinations)

In [107]:
sample = "R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science task"

In [109]:
# One Word combination
TextBlob(sample).ngrams(1)[0:5]

[WordList(['R']),
 WordList(['and']),
 WordList(['Python']),
 WordList(['are']),
 WordList(['useful'])]

In [110]:
# Two Word Combination
TextBlob(sample).ngrams(2)[0:5]

[WordList(['R', 'and']),
 WordList(['and', 'Python']),
 WordList(['Python', 'are']),
 WordList(['are', 'useful']),
 WordList(['useful', 'data'])]

In [111]:
# Three Word Combination
TextBlob(sample).ngrams(3)[0:5]

[WordList(['R', 'and', 'Python']),
 WordList(['and', 'Python', 'are']),
 WordList(['Python', 'are', 'useful']),
 WordList(['are', 'useful', 'data']),
 WordList(['useful', 'data', 'science'])]

## Part of Speech Tagging (POS)

In [112]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/macbook/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [115]:
df3.stories.apply(lambda x: TextBlob(x).tags)

1                     [(scandal, NN), (bohemia, NN)]
2                                 [(redheaded, VBN)]
3                                   [(identity, NN)]
4      [(boscombe, NN), (valley, NN), (mystery, NN)]
5              [(five, CD), (orange, NN), (pip, NN)]
6             [(man, NN), (twisted, VBD), (lip, NN)]
7     [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8     [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineer, NN), (thumb, NN)]
10    [(adventure, NN), (noble, JJ), (bachelor, NN)]
11     [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beech, NN)]
Name: stories, dtype: object

## Chunking (shallow parsing)
    - Grouping as noun ,adjective. adverb

In [116]:
sample

'R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science task'

In [118]:
pos = TextBlob(sample).tags
pos

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('old', 'JJ'),
 ('data', 'NNS'),
 ('scientists', 'NNS'),
 ('who', 'WP'),
 ('eager', 'VBP'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('efficent', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('task', 'NN')]

In [119]:
reg_exp = "NP: {<DT>?<JJ>*<NN>}" # Regex Expression
rp = nltk.RegexpParser(reg_exp) # Execute Regex with ntlk.RegexParser
rp

In [135]:
results = rp.parse(pos)
#results.draw() # Draw a Table
print(results)

(S
  R/NNP
  and/CC
  Python/NNP
  are/VBP
  useful/JJ
  data/NNS
  (NP science/NN)
  tools/NNS
  for/IN
  the/DT
  new/JJ
  or/CC
  old/JJ
  data/NNS
  scientists/NNS
  who/WP
  eager/VBP
  to/TO
  do/VB
  efficent/JJ
  data/NNS
  (NP science/NN)
  (NP task/NN))

## Named Entity Recognation

In [129]:
from nltk import word_tokenize, pos_tag, ne_chunk
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /Users/macbook/nltk_data...
[nltk_data]   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data] Downloading package words to /Users/macbook/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

True

In [131]:
sample = "Hadley is creative people who work for R Studio AND he attented conference at Newyork last year"
print(ne_chunk(pos_tag(word_tokenize(sample))))

(S
  (GPE Hadley/NNP)
  is/VBZ
  creative/JJ
  people/NNS
  who/WP
  work/VBP
  for/IN
  (ORGANIZATION R/NNP Studio/NNP)
  AND/CC
  he/PRP
  attented/VBD
  conference/NN
  at/IN
  (ORGANIZATION Newyork/NNP)
  last/JJ
  year/NN)

# Mathematical Functions

In [139]:
df4 = df3.copy()

In [140]:
df4

                     stories
1            scandal bohemia
2                  redheaded
3                   identity
4    boscombe valley mystery
5            five orange pip
6            man twisted lip
7   adventure blue carbuncle
8    adventure speckled band
9   adventure engineer thumb
10  adventure noble bachelor
11   adventure beryl coronet
12    adventure copper beech

## Number of Letters

In [146]:
no_letter = df4.stories.str.len()
no_letter

1     15
2      9
3      8
4     23
5     15
6     15
7     24
8     23
9     24
10    24
11    23
12    22
Name: stories, dtype: int64

## Number of Words

In [147]:
no_words = df4.stories.apply(lambda x: len(x.split()))
no_words

1     2
2     1
3     1
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    3
12    3
Name: stories, dtype: int64

In [148]:
df4['no_letters'] = no_letter
df4['no_words'] = no_words
df4

                     stories  no_letters  no_words
1            scandal bohemia          15         2
2                  redheaded           9         1
3                   identity           8         1
4    boscombe valley mystery          23         3
5            five orange pip          15         3
6            man twisted lip          15         3
7   adventure blue carbuncle          24         3
8    adventure speckled band          23         3
9   adventure engineer thumb          24         3
10  adventure noble bachelor          24         3
11   adventure beryl coronet          23         3
12    adventure copper beech          22         3

## Finding Special Charachters

In [164]:
df4

                     stories  no_letters  no_words
1            scandal bohemia          15         2
2                  redheaded           9         1
3                   identity           8         1
4    boscombe valley mystery          23         3
5            five orange pip          15         3
6            man twisted lip          15         3
7   adventure blue carbuncle          24         3
8    adventure speckled band          23         3
9   adventure engineer thumb          24         3
10  adventure noble bachelor          24         3
11   adventure beryl coronet          23         3
12    adventure copper beech          22         3

In [152]:
df4.stories.apply(lambda x: [item for item in x.split()])

1               [scandal, bohemia]
2                      [redheaded]
3                       [identity]
4      [boscombe, valley, mystery]
5              [five, orange, pip]
6              [man, twisted, lip]
7     [adventure, blue, carbuncle]
8      [adventure, speckled, band]
9     [adventure, engineer, thumb]
10    [adventure, noble, bachelor]
11     [adventure, beryl, coronet]
12      [adventure, copper, beech]
Name: stories, dtype: object

In [171]:
df4['stories'].apply(lambda x: ([item for item in x.split()
                                 if x.startswith('adventure')]))

1                               []
2                               []
3                               []
4                               []
5                               []
6                               []
7     [adventure, blue, carbuncle]
8      [adventure, speckled, band]
9     [adventure, engineer, thumb]
10    [adventure, noble, bachelor]
11     [adventure, beryl, coronet]
12      [adventure, copper, beech]
Name: stories, dtype: object

In [172]:
df4["stories"].apply(lambda x: ([x for x in x.split() 
                                       if x.startswith("adventure")]))

1              []
2              []
3              []
4              []
5              []
6              []
7     [adventure]
8     [adventure]
9     [adventure]
10    [adventure]
11    [adventure]
12    [adventure]
Name: stories, dtype: object

In [181]:
# Columns contains "adventure"

no_adventure = df4.stories.apply(lambda x: len([item for item in x.split()
                                                if item.startswith('adventure')]))
no_adventure

1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     1
9     1
10    1
11    1
12    1
Name: stories, dtype: int64

In [182]:
df4['no_adventure'] = no_adventure
df4

                     stories  no_letters  no_words  no_adventure
1            scandal bohemia          15         2             0
2                  redheaded           9         1             0
3                   identity           8         1             0
4    boscombe valley mystery          23         3             0
5            five orange pip          15         3             0
6            man twisted lip          15         3             0
7   adventure blue carbuncle          24         3             1
8    adventure speckled band          23         3             1
9   adventure engineer thumb          24         3             1
10  adventure noble bachelor          24         3             1
11   adventure beryl coronet          23         3             1
12    adventure copper beech          22         3             1

## Finding Digits

In [185]:
df

                                  stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [186]:
no_digit = df.stories.apply(lambda x: len([item for item in x.split()
                                                if item.isdigit()]))
no_digit

1     1
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: stories, dtype: int64

In [187]:
df4['no_digit'] = no_digit
df4

                     stories  no_letters  no_words  no_adventure  no_digit
1            scandal bohemia          15         2             0         1
2                  redheaded           9         1             0         0
3                   identity           8         1             0         1
4    boscombe valley mystery          23         3             0         0
5            five orange pip          15         3             0         0
6            man twisted lip          15         3             0         0
7   adventure blue carbuncle          24         3             1         0
8    adventure speckled band          23         3             1         0
9   adventure engineer thumb          24         3             1         0
10  adventure noble bachelor          24         3             1         0
11   adventure beryl coronet          23         3             1         0
12    adventure copper beech          22         3             1         0