In [1]:
import time
#import logging
import numpy as np
import pandas as pd
from datetime import datetime
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import psycopg2
from sqlalchemy import create_engine

import warnings
warnings.simplefilter(action='ignore')

# Sleep function 
def sleep(x):
    time.sleep(x)

# Wait for a certain measure of time before throwing an exception
def wait(x):
    driver.implicitly_wait(x)

# Click Function
def click_bann_byID(ID):
    actions = ActionChains(driver)
    akzeptieren = driver.find_element(By.ID, ID)
    actions.click(akzeptieren).perform()
    wait(10)
    sleep(0.5)


# Find Element Function
def find_element(H):
    header = driver.find_elements(By.CLASS_NAME, H)
    list_header = [title.text for title in header]
    return list_header


# Find Elements Function
def find_elements_HPCO(H,P,C,O):
    header = driver.find_elements(By.CLASS_NAME, H)
    publish = driver.find_elements(By.CLASS_NAME, P)
    company = driver.find_elements(By.CLASS_NAME, C)
    ort = driver.find_elements(By.CLASS_NAME, O) 

    list_header = [title.text for title in header]
    list_publish = [pub.text for pub in publish]
    list_company = [comp.text for comp in company]
    list_ort = [o.text for o in ort]
    return list_header, list_publish, list_company, list_ort

def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

In [2]:
print('---------------------- StepStone Job Searching Selenium Project ----------------------')
start=datetime.now()
log('start_stepstone')
# Link Descriptions
link_original_stepstone = 'https://www.stepstone.de/jobs/data-analyst/in-rietberg?radius=50&page=2'

website_name = 'stepstone'
job_name = 'Data Engineer'
ort_ = 'Rietberg'
radius = 100
page_number = 1

#  1 - Create Driver
Path = '/Users/macbook/Desktop/projects/Github_Repositories/Trainings/web_scpraing_portfolio_deneme/chromedriver'
driver = webdriver.Chrome(Path)
print('Create Driver')


#  2 - Go to Website
job_link = job_name.replace(' ', '-').lower()
ort_link = ort_.lower()
link = f'https://www.stepstone.de/jobs/{job_link}/in-{ort_link}?radius={radius}&page={page_number}&sort=2&action=sort_publish'

driver.get(link)
wait(5)
sleep(2)
print('Go to Website')
#  3 - ActionChain Object created
# 3.1 - Click Banned Accept
ID = 'ccmgt_explicit_accept'
click_bann_byID(ID)
print('Banned')

# 4 -  Take Infos from Page
# 4.1 - Headers, Publish_Time ,Company, City
H, P, C, O = ('res-29pyh9', 'res-rf8k2x', 'res-hbyqhf', 'res-1wf9en7')
list_header, list_publish, list_company, list_ort = find_elements_HPCO(H,P,C,O)

# 4.2 - Description and Page number of results
description = driver.find_elements(By.CLASS_NAME, 'res-17md5or')



# 4.3 - Get Links 'res-1dwe62q'
list_link01  = driver.find_elements(By.CLASS_NAME, 'res-1dwe62q')
list_link = [link.get_attribute('href') for link in list_link01]

# 4.4 - Get Texts for each finding
list_description = [des.text for des in description]
print('Header',len(list_header), 'Publish',len(list_publish), 'Company',len(list_company[1:]), 'Ort',len(list_ort), 'Desc', len(list_description), 'Link',len(list_link))


# 4.6 - DataFrame df
d = dict(job_title=np.array(list_header), publish=np.array(list_publish), company=np.array(list_company[1:]), city=np.array(list_ort) , description=np.array(list_description), link=np.array(list_link))
df01 = pd.DataFrame.from_dict(d, orient='index')
df01 = df01.T

# 5.1 - Save Data as csv 
print(f'DataFrame End : {df01.shape}')
df01['website'] = website_name
time_ = datetime.today().strftime('%Y-%m-%d %H:%M:%S')
df01['date'] = time_
df01['search_title'] = job_name

# 6 - Quit
end =datetime.now() 
print('Code Runned No Problem')
log('end_stepstone')
print(f'Time = {end - start}')
sleep(0.5)
driver.quit()
df01.head(2)

---------------------- StepStone Job Searching Selenium Project ----------------------
Create Driver
Go to Website
Banned
Header 25 Publish 25 Company 24 Ort 25 Desc 25 Link 25
DataFrame End : (25, 6)
Code Runned No Problem
Time = 0:00:28.668255

,job_title,publish,company,city,description,link,website,date,search_title
0,Data Engineer (m/w/d),vor 11 Stunden,Riverty,Dortmund,Aufsetzen eines umfänglichen Monitorings und B...,https://www.stepstone.de/stellenangebote--Data...,stepstone,2023-03-15 13:12:29,Data Engineer
1,(Senior) Data Engineer (m/f/d),vor 2 Tagen,Kasseler Verkehrs- und Versorgungs GmbH,"Berlin, Baden-Baden, Verl",Our ambition is higher and now we have a great...,https://www.stepstone.de/stellenangebote--Seni...,stepstone,2023-03-15 13:12:29,Data Engineer

In [3]:
print('---------------------- Xing Job Searching Selenium Project ----------------------')
start=datetime.now()
log('start_xing')  
# Link Descriptions
link_original_xing = 'https://www.xing.com/jobs/search?keywords=Data%20Engineer&location=Rietberg&page=1&radius=100'

website_name = 'xing'
job_name = 'Data Engineer'
#job_name = 'Data Analyst'
#job_name = 'Data Scientist'
ort_ = 'Rietberg'
radius = 50
page_number = 1

#  1 - Create Driver
Path = '/Users/macbook/Desktop/projects/Github_Repositories/Trainings/web_scpraing_portfolio_deneme/chromedriver'
driver = webdriver.Chrome(Path)

#  2 - Go to Website
job_link = job_name.replace(' ', '-').lower()
ort_link = ort_.lower()
link = f'https://www.xing.com/jobs/search?keywords=Data%20Engineer&location=Rietberg&page=1&radius=100&sort=date'

driver.get(link)
wait(10)
sleep(2)

#  3 - ActionChain Object created
# 3.1 - Click Banned Accept
ID = 'consent-accept-button'
click_bann_byID(ID)

# 4 -  Take Infos from Page
# 4.1 - Headers, Publish_Time ,Company, City
H = 'utils-line-clamp-lineClamp2-dfe26aab'
D = 'list-item-job-teaser-list-item-highlight-bb8ddbb6'
L = 'list-item-job-teaser-list-item-location-a5b28738'
ALL = 'list-item-job-teaser-list-item-listItem-f04c772e'


list_header = find_element(H)
list_description = find_element(D)
list_ort = find_element(L)
list_all = find_element(ALL)

list_publish = []
list_full_time = [] 
for i in list_all:
    date = i.split('\n')[-2]
    time_ = i.split('\n')[-3]
    list_publish.append(date)
    list_full_time.append(time_)

list_title =[]
list_company = []
n = 0
while n < len(list_header):
    list_title.append(list_header[n])
    list_company.append(list_header[n+1])
    n += 2

# 4.3 - Get Links
Link = 'list-item-job-teaser-list-item-listItem-f04c772e'
header = driver.find_elements(By.CLASS_NAME, Link)
list_link = [link.get_attribute('href') for link in header]

# 4.4 - DataFrame df
d = dict(job_title=np.array(list_title), publish=np.array(list_publish), company=np.array(list_company), city=np.array(list_ort) , description=np.array(list_description), link=np.array(list_link))
df02 = pd.DataFrame.from_dict(d, orient='index')
df02 = df02.T
df02['website'] = website_name
time_now = datetime.today().strftime('%Y-%m-%d %H:%M:%S')
df02['date'] = time_now
df02['search_title'] = job_name


list_of_list = [list_header, list_description, list_ort, list_publish, list_link]
print([len(i) for i in list_of_list])

sleep(2)
driver.quit()
print('Finish', time_now)
log('end_xing') 

df02.head(2)

---------------------- Xing Job Searching Selenium Project ----------------------
[40, 18, 20, 20, 20]
Finish 2023-03-15 13:13:17

,job_title,publish,company,city,description,link,website,date,search_title
0,"SAS Administrator | SAS Analytics Software, Li...",Vor 4 Stunden,Vesterling AG,Paderborn,Sie wirken als SAS Administrator an der Konzep...,https://www.xing.com/jobs/paderborn-sas-admini...,xing,2023-03-15 13:13:17,Data Engineer
1,"SAS Administrator | SAS Analytics Software, Li...",Vor 4 Stunden,Vesterling AG,Dortmund,Sie wirken als SAS Administrator an der Konzep...,https://www.xing.com/jobs/dortmund-sas-adminis...,xing,2023-03-15 13:13:17,Data Engineer

In [22]:

print('--------------------------------------- Connect to Database ---------------------------------------')

conn = psycopg2.connect(database="JOB",
			user='postgres', password=1984,
			host='127.0.0.1', port='5432'
)

conn.autocommit = True
cursor = conn.cursor()

log('connected_database')

sql = '''CREATE TABLE IF NOT EXISTS silall(id serial PRIMARY KEY,
job_title text ,\
publish varchar(30),\
company text,\
city varchar(300),\
description text,\
link text,\
website varchar(30),\
date timestamp,\
search_title varchar(30));'''

cursor.execute(sql)

# connection string: driver://username:password@server/database
engine = create_engine('postgresql+psycopg2://postgres:1984@localhost/JOB')
df = pd.read_excel("Data Engineer_first.xlsx", index_col=[0])
df02 = pd.read_csv("Data Engineer_2023-03-14.csv", index_col=[0])
df03 = pd.read_csv("Data Engineer_2023-03-15.csv", index_col=[0])
df03.columns = list01
#  Note:  if_exists can be append, replace, fail.  
#df.to_sql('silall', engine, if_exists='append', index = False)
#df02.to_sql('silall', engine, if_exists='append', index = False)
#df03.to_sql('silall', engine, if_exists='append', index = False)


sql2 = '''SELECT company FROM silall WHERE publish LIKE '%Stunde%' ORDER BY publish LIMIT 5'''
cursor.execute(sql2)
for i in cursor.fetchall():
	print(i)

conn.commit()
log('finish_all') 
conn.close()

#path = '/Users/macbook/Desktop/projects/Github_Repositories/Trainings/web_scpraing_portfolio_deneme'
today_ = datetime.today().strftime('%Y-%m-%d')

print(f'Today {today_} mycode Runned.')

--------------------------------------- Connect to Database ---------------------------------------
('Porta Möbel GmbH & Co KG',)
('Computer Futures, ein Geschäftszweig von SThree',)
('Computer Futures',)
('Kontakttechnik GmbH & Co. KG',)
('Campusjäger by Workwise',)
Today 2023-03-15 mycode Runned.

In [5]:
print(f'Today is {today_}')

Today is 2023-03-15

In [7]:
df.head()

,job_title,publish,company,city,description,link,website,date,search_title
0,Production Quality Supervisor (m/w/d),vor 15 Stunden,Polizeipräsidium Gelsenkirchen,Bochum,Molex CVS Bochum GmbH * Bochum * Feste Anstell...,https://www.stepstone.de/stellenangebote--Prod...,stepstone,2023-03-14 20:29:42,Data Engineer
1,Sachbearbeiter/in Intel-Officer-Sentinel (w/m/...,vor 18 Stunden,Beckhoff Automation GmbH & Co. KG,Gelsenkirchen,eine abgeschlossene einschlägige Hochschulausb...,https://www.stepstone.de/stellenangebote--Sach...,stepstone,2023-03-14 20:29:42,Data Engineer
2,Data Scientist (m/w/d) Application / (Data Ana...,vor 1 Tag,Beckhoff Automation GmbH & Co. KG,Verl,Kunden- und Applikationssupport für eine Auswa...,https://www.stepstone.de/stellenangebote--Data...,stepstone,2023-03-14 20:29:42,Data Engineer
3,Data Scientist (m/w/d) Application / Support (...,vor 1 Tag,Manufactum GmbH,Verl,erfolgreich abgeschlossenes Studium der Fachri...,https://www.stepstone.de/stellenangebote--Data...,stepstone,2023-03-14 20:29:42,Data Engineer
4,Process- & Data Architect (d/m/w),vor 1 Tag,Ratbacher GmbH,Waltrop bei Dortmund,Für unsere Zentrale in Waltrop (bei Dortmund) ...,https://www.stepstone.de/stellenangebote--Proc...,stepstone,2023-03-14 20:29:42,Data Engineer

In [16]:
df = pd.read_csv("Data Engineer_2023-03-14.csv", index_col=[0])
df[['job_title','publish', 'company', 'date']].head(45)

,job_title,publish,company,date
0,(Senior) Data Engineer (m/f/d),vor 1 Tag,Kasseler Verkehrs- und Versorgungs GmbH,2023-03-14 21:19:01
1,IT-Data Engineer (m/w/d),vor 4 Tagen,CTH Gesellschaft für Entscheidungs- und Inform...,2023-03-14 21:19:01
2,Junior Data Engineer (m/w/d),vor 5 Tagen,Amprion GmbH,2023-03-14 21:19:01
3,Data Expert (m/w/d),vor 6 Tagen,Ratiodata SE,2023-03-14 21:19:01
4,Client Engineer (m/w/d),vor 1 Woche,FALKE KGaA,2023-03-14 21:19:01
5,Data Engineer DWH / BI (m/w/d),vor 1 Woche,DACHSER SE,2023-03-14 21:19:01
6,Data Integration Engineer (m/w/d) EDI,vor 1 Woche,BabyOne Franchise- und Systemzentrale GmbH,2023-03-14 21:19:01
7,Data Engineer / Data Architect (m/w/d) Vollzei...,vor 1 Woche,REMONDIS IT Services GmbH & Co. KG,2023-03-14 21:19:01
8,Data Engineer (m/w/d),vor 1 Woche,Riverty,2023-03-14 21:19:01
9,Data Governance Engineer (m/f/d),vor 1 Woche,Amprion GmbH,2023-03-14 21:19:01
10,Data Engineer (m/w/d),vor 2 Wochen,adesso SE,2023-03-14 21:19:01
11,(Senior) Consultant Data Engineer SAS (all gen...,vor 2 Wochen,adesso SE,2023-03-14 21:19:01
12,Data Architect (all genders),vor 2 Wochen,PwC,2023-03-14 21:19:01
13,(Senior) Associate Data Validation Teilzeit/Vo...,vor 3 Wochen,saracus consulting GmbH,2023-03-14 21:19:01
14,Cloud Architect / Cloud Data Engineer / DevOps...,vor 3 Wochen,Manufactum GmbH,2023-03-14 21:19:01
15,Process- & Data Architect (d/m/w),vor 1 Tag,Beckhoff Automation GmbH & Co. KG,2023-03-14 21:19:01
16,Data Scientist (m/w/d) Application / Support (...,vor 1 Tag,Beckhoff Automation GmbH & Co. KG,2023-03-14 21:19:01
17,Data Scientist (m/w/d) Application / (Data Ana...,vor 1 Tag,Ratbacher GmbH,2023-03-14 21:19:01
18,DevOps Engineer (m/w/d) - DevOps Spezialist,vor 1 Tag,REMONDIS IT Services GmbH & Co. KG,2023-03-14 21:19:01
19,DevOps Engineer (m/w/d),vor 3 Tagen,EVIDENT Technology Center Europe GmbH,2023-03-14 21:19:01
20,Software Developer DevOps (m/w/d) Anwendungsen...,vor 3 Tagen,REMONDIS IT Services GmbH & Co. KG,2023-03-14 21:19:01
21,Softwareanalyst – ERP (m/w/d),vor 3 Tagen,SIGNAL IDUNA Gruppe,2023-03-14 21:19:01
22,Senior Enterprise Architekt (m/w/d),vor 3 Tagen,ISS Facility Services Holding GmbH,2023-03-14 21:19:01
23,Senior Bauingenieur / Architekt (m/w/d) Bauen ...,vor 3 Tagen,GOLDBECK GmbH,2023-03-14 21:19:01
24,PowerPlatform Engineer (m/w/d),vor 3 Tagen,NaN,2023-03-14 21:19:01
0,Data Engineer - Data Warehouse / Datenpflege /...,Vor 3 Stunden,Campusjäger by Workwise,2023-03-14 21:19:26
1,Data Engineer - Data Warehouse / Datenpflege /...,Vor 3 Stunden,Campusjäger by Workwise,2023-03-14 21:19:26
2,Data Engineer - Data Warehouse / Datenpflege /...,Vor 3 Stunden,Campusjäger by Workwise,2023-03-14 21:19:26
3,Data Engineer - Data Warehouse / Datenpflege /...,Vor 3 Stunden,Campusjäger by Workwise,2023-03-14 21:19:26
4,Data Engineer - Data Warehouse / Datenpflege /...,Vor 3 Stunden,Campusjäger by Workwise,2023-03-14 21:19:26
5,Data Engineer (m/w/d),Vor 12 Stunden,"Computer Futures, ein Geschäftszweig von SThree",2023-03-14 21:19:26
6,Data Architect,Vor 13 Stunden,Computer Futures,2023-03-14 21:19:26
7,Data-Engineer für Datenmigration (w/d/m),Vor 22 Stunden,Haufe Akademie GmbH & Co. KG,2023-03-14 21:19:26
8,Data Scientist (m/w/d),Gestern,Computer Futures,2023-03-14 21:19:26
9,Senior Data Engineer (m/w/d),Gestern,BRUDERKOPF GmbH & Co. KG,2023-03-14 21:19:26
10,"Senior DevOps Engineer (m/w/d) für Dortmund, H...",Gestern,QuinScape,2023-03-14 21:19:26
11,"Java Backend Developer (m/w/d) für Dortmund, H...",Gestern,QuinScape,2023-03-14 21:19:26
12,"Data Engineer (m/w/d) für Dortmund, Hannover o...",Gestern,QuinScape,2023-03-14 21:19:26
13,"APEX / ORACLE Software Developer | Forms, Repo...",Vor 2 Tagen,Vesterling AG,2023-03-14 21:19:26
14,"APEX / ORACLE Software Developer | Forms, Repo...",Vor 2 Tagen,Vesterling AG,2023-03-14 21:19:26
15,(Senior) Consultant Data Engineer SAS (all gen...,Vor 2 Tagen,adesso SE,2023-03-14 21:19:26
16,(Senior) Machine Learning / AI Engineer (all g...,Vor 3 Tagen,adesso SE,2023-03-14 21:19:26
17,Cloud Data Engineer (all genders),Vor 3 Tagen,adesso SE,2023-03-14 21:19:26
18,Cloud Data Engineer (all genders),Vor 3 Tagen,adesso SE,2023-03-14 21:19:26
19,Cloud Data Engineer (all genders),Vor 3 Tagen,adesso SE,2023-03-14 21:19:26

In [18]:
list01 = df.columns.to_list()

In [23]:
df03.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44 entries, 1 to 19
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_title     44 non-null     object
 1   publish       44 non-null     object
 2   company       43 non-null     object
 3   city          44 non-null     object
 4   description   42 non-null     object
 5   link          44 non-null     object
 6   website       44 non-null     object
 7   date          44 non-null     object
 8   search_title  44 non-null     object
dtypes: object(9)
memory usage: 3.4+ KB