In [1]:
import pandas as pd

In [17]:
job_name = '0'
df = pd.DataFrame({'job_title' : ['a', 'b', 'c'], 'publish' : [10,11,12], 'company' : job_name}, index=[0,1,2])
df

  job_title  publish company
0         a       10       0
1         b       11       0
2         c       12       0

In [11]:
df.head(1).job_title[0]

'a'

In [20]:
for i,j,k,l in zip(df.job_title, df.publish, df.company, df.city):
        print(i,j,k,l)

a 10
b 11
c 12

In [28]:
for i in df.index:
        print(df.index[i] + 1)
        print(df.job_title[i])
        print(df.publish[i])
        print(df.company[i])

1
a
10
0
2
b
11
0
3
c
12
0

In [43]:
def topla(x, y):
        print(x + y)

topla(5, 10)

15

In [88]:
def ikiyle_carp(func):
        def wrapper(*args, **kwargs):
                for i in *args:
                        i +=i
                return func(x*2, y*2)
        return wrapper

@ikiyle_carp
def topla(x, y):
        print(x + y)
        return x + y

topla(5, 10)

NameError: name 'x' is not defined

In [79]:
import time

def vakit_olc(func):
        start = time.time()
        def wrapper(x, y):
                wait = time.sleep(0.5)
                func(x**2, y)
                end = time.time()
                print(end - start)
        return wrapper


def twice(func):
        def wrapper(x, y):
                func(x, y)
                func(x, y)
                return func(x, y)
        return wrapper


@vakit_olc
def topla(x, y):
        print(x + y)

@twice
def cikar(x, y):
        print(x - y)
        return f"Sonuc {x - y}"

cikar(9 , 7)

2
2

'Sonuc 2'