In [67]:
import pandas as pd
import numpy as np

import warnings
warnings.simplefilter(action='ignore')

#virgulden sonra gösterilecek olan sayı 2 basamak olarak ayarlanıyor.
pd.options.display.float_format = '{:.2f}'.format

In [5]:
df = pd.read_csv('housing2.csv')
df.head(30)

,title,address,price,duzenle,m2,rooms,furnished
0,Apartment Oostmaaslaan,3063 AN Rotterdam (Struisenburg),"€1,450 per month",65 m²/3 rooms/Furnished,65 m²,3 rooms,Furnished
1,Apartment Stationssingel,3033 HE Rotterdam (Provenierswijk),"€1,595 per month",99 m²/3 rooms/Upholstered,99 m²,3 rooms,Upholstered
2,Apartment Bergse Dorpsstraat,3054 GG Rotterdam (Hillegersberg Noord),"€1,750 per month",134 m²/5 rooms/Upholstered,134 m²,5 rooms,Upholstered
3,Apartment Luzacstraat,3038 VV Rotterdam (Bergpolder),"€1,150 per month",55 m²/1 room/Upholstered,55 m²,1 room,Upholstered
4,Apartment Prinses Margrietlaan,3051 AR Rotterdam (Hillegersberg Zuid),"€1,295 per month",60 m²/2 rooms/Furnished,60 m²,2 rooms,Furnished
5,Apartment Statenweg,3039 HK Rotterdam (Blijdorp),"€1,275 per month",115 m²/4 rooms/1939,115 m²,4 rooms,1939
6,Apartment Kortgenestraat,3086 JK Rotterdam (Pendrecht),€975 per month,62 m²/3 rooms/Upholstered,62 m²,3 rooms,Upholstered
7,Apartment Bergselaan 151 A,3037 BH Rotterdam (Liskwartier),"€1,225 per month",60 m²/2 rooms/Upholstered,60 m²,2 rooms,Upholstered
8,Apartment Van Bijlandtplaats,3012 GA Rotterdam (Cool),"€1,950 per month",100 m²/3 rooms/Upholstered,100 m²,3 rooms,Upholstered
9,Apartment Eendrachtsstraat,3012 XJ Rotterdam (Cool),"€1,400 per month",70 m²/2 rooms/Upholstered,70 m²,2 rooms,Upholstered
10,Apartment Stationssingel,3033 HE Rotterdam (Provenierswijk),"€1,595 per month",99 m²/3 rooms/Upholstered,99 m²,3 rooms,Upholstered
11,House Burgemeester Meineszlaan,3022 BN Rotterdam (Nieuwe Westen),"€2,095 per month",120 m²/5 rooms/Upholstered,120 m²,5 rooms,Upholstered
12,Studio C.P.Tielestraat 35 A,3023 TB Rotterdam (Nieuwe Westen),€750 per month,30 m²/1 room/Upholstered,30 m²,1 room,Upholstered
13,Apartment Schiedamse Vest,3011 BE Rotterdam (Cool),"€1,375 per month",75 m²/2 rooms/Furnished,75 m²,2 rooms,Furnished
14,Apartment Baan,3011 CC Rotterdam (Stadsdriehoek),"€2,150 per month",65 m²/2 rooms/Furnished,65 m²,2 rooms,Furnished
15,Apartment Hudsonstraat,3025 CE Rotterdam (Bospolder),"€1,000 per month",35 m²/2 rooms/Furnished,35 m²,2 rooms,Furnished
16,Apartment Schepenstraat,3039 NL Rotterdam (Blijdorp),"€1,995 per month",135 m²/4 rooms/Furnished,135 m²,4 rooms,Furnished
17,Apartment Bergse Dorpsstraat,3054 GC Rotterdam (Hillegersberg Noord),"€1,895 per month",165 m²/4 rooms/Upholstered,165 m²,4 rooms,Upholstered
18,Apartment Pendrechtstraat,3082 XA Rotterdam (Oud Charlois),€895 per month,40 m²/2 rooms/Shell,40 m²,2 rooms,Shell
19,Apartment Boompjes,3011 XZ Rotterdam (Stadsdriehoek),"€1,625 per month",59 m²/2 rooms/Furnished,59 m²,2 rooms,Furnished
20,Apartment Hermonlaan 64,3061 BH Rotterdam (Kralingen West),"€2,000 per month",80 m²/3 rooms/Furnished,80 m²,3 rooms,Furnished
21,Apartment Hermonlaan 35,3061 BH Rotterdam (Kralingen West),"€1,495 per month",75 m²/3 rooms/Upholstered,75 m²,3 rooms,Upholstered
22,Apartment 's-Gravendijkwal,3014 EC Rotterdam (Oude Westen),€800 per month,34 m²/1 room/Upholstered,34 m²,1 room,Upholstered
23,Apartment Parallelstraat,3043 GK Rotterdam (Overschie),"€1,400 per month",75 m²/3 rooms/1929,75 m²,3 rooms,1929
24,Apartment Plein 1953,3086 EM Rotterdam (Pendrecht),"€1,345 per month",88 m²/2 rooms/Upholstered,88 m²,2 rooms,Upholstered
25,Apartment Crooswijksesingel,3034 CH Rotterdam (Rubroek),"€1,548 per month",76 m²/2 rooms/Furnished,76 m²,2 rooms,Furnished
26,Apartment 's-Gravendijkwal 39 b,3021 EC Rotterdam (Middelland),"€2,250 per month",77 m²/3 rooms/Furnished,77 m²,3 rooms,Furnished
27,Apartment Van Oldenbarneveltstraat 152 C02,3012 GX Rotterdam (Cool),"€1,200 per month",65 m²/2 rooms/Furnished,65 m²,2 rooms,Furnished
28,Apartment Bentincklaan 49 C,3039 KH Rotterdam (Blijdorp),"€1,750 per month",110 m²/4 rooms/Furnished,110 m²,4 rooms,Furnished
29,Apartment Zegenstraat,3082 XW Rotterdam (Oud Charlois),"€1,050 per month",90 m²/3 rooms/Upholstered,90 m²,3 rooms,Upholstered

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1796 entries, 0 to 1795
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      1796 non-null   object
 1   address    1796 non-null   object
 2   price      1796 non-null   object
 3   duzenle    1796 non-null   object
 4   m2         1796 non-null   object
 5   rooms      1795 non-null   object
 6   furnished  1746 non-null   object
dtypes: object(7)
memory usage: 98.3+ KB

In [9]:
df.iloc[1289]

title        Project: The Hub Apartments - The Hub Apartmen...
address                        1068 TD Amsterdam (Osdorp-Oost)
price                                €1,530 - €1,650 per month
duzenle                                          59 m²/2 rooms
m2                                                       59 m²
rooms                                                  2 rooms
furnished                                                  NaN
Name: 1289, dtype: object

In [55]:
df.isna().sum()

title         0
address       0
price         0
duzenle       0
m2            0
rooms         1
furnished    50
price2        0
dtype: int64

In [65]:
df['price2'] = df.price.str.replace('\D+', '').replace(' ', '').replace('', 0).astype('int32')
df.head()

,title,address,price,duzenle,m2,rooms,furnished,price2
0,Apartment Oostmaaslaan,3063 AN Rotterdam (Struisenburg),"€1,450 per month",65 m²/3 rooms/Furnished,65 m²,3 rooms,Furnished,1450
1,Apartment Stationssingel,3033 HE Rotterdam (Provenierswijk),"€1,595 per month",99 m²/3 rooms/Upholstered,99 m²,3 rooms,Upholstered,1595
2,Apartment Bergse Dorpsstraat,3054 GG Rotterdam (Hillegersberg Noord),"€1,750 per month",134 m²/5 rooms/Upholstered,134 m²,5 rooms,Upholstered,1750
3,Apartment Luzacstraat,3038 VV Rotterdam (Bergpolder),"€1,150 per month",55 m²/1 room/Upholstered,55 m²,1 room,Upholstered,1150
4,Apartment Prinses Margrietlaan,3051 AR Rotterdam (Hillegersberg Zuid),"€1,295 per month",60 m²/2 rooms/Furnished,60 m²,2 rooms,Furnished,1295

In [68]:
df.price2.describe()

count       1796.00
mean      179369.73
std      1959429.15
min            0.00
25%         1550.00
50%         1950.00
75%         2650.00
max     39004800.00
Name: price2, dtype: float64

In [71]:
df[['postcode', 'region', 'city', 'provience']] = df['address'].str.split(n=3, expand=True)
df.head()

,title,address,price,duzenle,m2,rooms,furnished,price2,postcode,region,city,provience
0,Apartment Oostmaaslaan,3063 AN Rotterdam (Struisenburg),"€1,450 per month",65 m²/3 rooms/Furnished,65 m²,3 rooms,Furnished,1450,3063,AN,Rotterdam,(Struisenburg)
1,Apartment Stationssingel,3033 HE Rotterdam (Provenierswijk),"€1,595 per month",99 m²/3 rooms/Upholstered,99 m²,3 rooms,Upholstered,1595,3033,HE,Rotterdam,(Provenierswijk)
2,Apartment Bergse Dorpsstraat,3054 GG Rotterdam (Hillegersberg Noord),"€1,750 per month",134 m²/5 rooms/Upholstered,134 m²,5 rooms,Upholstered,1750,3054,GG,Rotterdam,(Hillegersberg Noord)
3,Apartment Luzacstraat,3038 VV Rotterdam (Bergpolder),"€1,150 per month",55 m²/1 room/Upholstered,55 m²,1 room,Upholstered,1150,3038,VV,Rotterdam,(Bergpolder)
4,Apartment Prinses Margrietlaan,3051 AR Rotterdam (Hillegersberg Zuid),"€1,295 per month",60 m²/2 rooms/Furnished,60 m²,2 rooms,Furnished,1295,3051,AR,Rotterdam,(Hillegersberg Zuid)

In [45]:
try:
    for i in range(len(df.index)):
        print(i)
        df.price2 = df.price2.loc[i].astype('int32')
except:
    pass

0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1796 entries, 0 to 1795
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      1796 non-null   object
 1   address    1796 non-null   object
 2   price      1796 non-null   object
 3   duzenle    1796 non-null   object
 4   m2         1796 non-null   object
 5   rooms      1795 non-null   object
 6   furnished  1746 non-null   object
 7   price2     1796 non-null   object
dtypes: object(8)
memory usage: 112.4+ KB

In [38]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9