# PostgreSQL

In [ ]:
# ----------------------- Connect To Database -----------------------

hostname = 'localhost'
database = 'sales'
username = 'postgres'
pwd = 1984
port_id = 5432


conn = psycopg2.connect(
    host = hostname,
    dbname = database,
    user = username,
    password = pwd,
    port = port_id)

# cursor factory tabloyu dict hale getirir , kolon adi ile secim yapabilmek icin
cur = conn.cursor(cursor_factory = psycopg2.extras.DictCursor)

# ----------------------- Drop Table if Exists -----------------------
cur.execute('DROP TABLE IF EXISTS employee')

# ----------------------- Create Table -----------------------
create_script = '''CREATE TABLE IF NOT EXISTS employee (
id int PRIMARY KEY,
name varchar(40) NOT NULL,
salary int,
dept_id varchar(30)) '''

cur.execute(create_script)


# ----------------------- Insert Values -----------------------
insert_script = 'INSERT INTO employee (id, name, salary, dept_id) VALUES (%s, %s, %s, %s)'
insert_values = [(1, 'James', 12000, 'D1'), (2, 'Cellim', 20000, 'D1'), (3, 'Abdullah', 18000, 'D3')]

for record in insert_values:
    cur.execute(insert_script, record)

cur.execute('SELECT * FROM employee')
print('All', cur.fetchall())
print(90*'*')

cur.execute('SELECT * FROM employee')
for record in cur.fetchall():
    print(record[1], record[2])
print(90*'*')

cur.execute('SELECT * FROM employee')
for record in cur.fetchall():
    print(record['name'], record['dept_id'])
print(90*'*')

# ----------------------- UPDATE Salary -----------------------
update_script = 'UPDATE employee SET salary = salary + (salary * 0.5)'
cur.execute(update_script)

# ----------------------- Delete Record -----------------------
#delete_script = 'DELETE FROM employee Where name = %s'
#delete_record = ('James',)
#cur.execute(delete_script, delete_record)

cur.execute('SELECT * FROM employee')
print('All', cur.fetchall())
print(90*'*')

conn.commit()

## See all Tables in Database

In [ ]:
## See all Tables in Database
##01

SELECT * FROM pg_catalog.pg_tables
WHERE schemaname = 'public'
AND schemaname != 'information_schema'

## 02
SELECT * FROM information_schema.tables
WHERE table_schema = 'public'