In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = sns.load_dataset('planets')
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

## Groupby

In [5]:
df.groupby('method')['orbital_period'].mean()

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [9]:
df.groupby('number').describe().T

number                            1            2             3              4  \
orbital_period count     555.000000   257.000000     87.000000      32.000000
               mean     2641.632828   630.923360    478.818182    9564.494437
               std     33843.423398  1362.898617   1618.739333   32360.047032
               min         0.090706     0.240104      0.453285       1.937780
               25%         3.657611    12.333500      9.146823       9.665096
               50%        66.262000    42.631800     33.941000      43.370300
               75%       676.400000   441.470000    151.095000     727.937500
               max    730000.000000  9017.800000  14002.000000  170000.000000
mass           count     307.000000   119.000000     52.000000      13.000000
               mean        3.329634     2.229547      0.916872       0.986492
               std         4.099555     3.740574      1.765379       1.255843
               min         0.003600     0.008700      0.007550       0.006000
               25%         0.675000     0.077400      0.032250       0.022000
               50%         1.790000     0.990000      0.058000       0.687600
               75%         4.450000     2.335000      0.650750       1.814000
               max        25.000000    21.420000      8.060000       4.132000
distance       count     513.000000   158.000000     66.000000      20.000000
               mean      291.743606   257.691646    125.906364      15.932000
               std       839.850589   615.173724    309.560136      12.997025
               min         1.350000     8.820000      6.060000       4.700000
               25%        37.780000    32.930000     14.970000       6.270000
               50%        77.820000    46.340000     30.075000      13.470000
               75%       205.000000    93.457500     52.880000      15.280000
               max      8500.000000  4080.000000   1400.000000      39.940000
year           count     595.000000   259.000000     88.000000      32.000000
               mean     2008.433613  2010.142857   2009.443182    2007.656250
               std         3.827538     3.697744      4.510162       5.597288
               min      1989.000000  1998.000000   1992.000000    1996.000000
               25%      2007.000000  2009.000000   2009.000000    2004.750000
               50%      2009.000000  2011.000000   2011.000000    2008.000000
               75%      2011.000000  2013.000000   2012.000000    2013.000000
               max      2014.000000  2014.000000   2014.000000    2014.000000

number                          5            6            7
orbital_period count    30.000000    24.000000     7.000000
               mean    199.819305   170.442667   119.217898
               std     891.909733   460.544925   117.312914
               min       0.736540     4.312300     7.008151
               25%       5.950553    15.523550    34.228022
               50%      13.913310    36.823000    91.939130
               75%      30.701700    98.302675   167.760685
               max    4909.000000  2248.000000   331.600590
mass           count     4.000000    18.000000     0.000000
               mean      1.166750     0.038556          NaN
               std       1.603380     0.047390          NaN
               min       0.165000     0.008000          NaN
               25%       0.170250     0.012950          NaN
               50%       0.486000     0.019400          NaN
               75%       1.482500     0.040250          NaN
               max       3.530000     0.205000          NaN
distance       count    20.000000    24.000000     7.000000
               mean    243.382500   168.005000   780.000000
               std     140.065620   262.742410     0.000000
               min      12.530000     6.800000   780.000000
               25%     220.632500    11.322500   780.000000
               50%     296.500000    26.110000   780.000000
               75%     319.250000   182.792500   780.000000
               max     368.000000   613.000000   780.000000
year           count    30.000000    24.000000     7.000000
               mean   2010.733333  2010.583333  2013.000000
               std       3.859009     1.529895     0.000000
               min    1996.000000  2008.000000  2013.000000
               25%    2011.000000  2010.000000  2013.000000
               50%    2011.000000  2010.000000  2013.000000
               75%    2013.000000  2012.000000  2013.000000
               max    2014.000000  2013.000000  2013.000000

In [11]:
df.groupby('number').mean()

        orbital_period      mass    distance         year
number
1          2641.632828  3.329634  291.743606  2008.433613
2           630.923360  2.229547  257.691646  2010.142857
3           478.818182  0.916872  125.906364  2009.443182
4          9564.494437  0.986492   15.932000  2007.656250
5           199.819305  1.166750  243.382500  2010.733333
6           170.442667  0.038556  168.005000  2010.583333
7           119.217898       NaN  780.000000  2013.000000

In [12]:
df.groupby('number').count()

        method  orbital_period  mass  distance  year
number
1          595             555   307       513   595
2          259             257   119       158   259
3           88              87    52        66    88
4           32              32    13        20    32
5           30              30     4        20    30
6           24              24    18        24    24
7            7               7     0         7     7

In [13]:
df.groupby('method')['mass'].mean()

method
Astrometry                            NaN
Eclipse Timing Variations        5.125000
Imaging                               NaN
Microlensing                          NaN
Orbital Brightness Modulation         NaN
Pulsar Timing                         NaN
Pulsation Timing Variations           NaN
Radial Velocity                  2.630699
Transit                          1.470000
Transit Timing Variations             NaN
Name: mass, dtype: float64

In [14]:
df.groupby('method')['mass'].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Eclipse Timing Variations,2.0,5.125000,1.308148,4.2000,4.66250,5.125,5.5875,6.05
Imaging,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Microlensing,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Orbital Brightness Modulation,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pulsar Timing,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pulsation Timing Variations,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Radial Velocity,510.0,2.630699,3.825883,0.0036,0.22525,1.260,3.0000,25.00
Transit,1.0,1.470000,NaN,1.4700,1.47000,1.470,1.4700,1.47
Transit Timing Variations,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Aggregate

In [16]:
df.groupby('method')['orbital_period'].aggregate(['min', max, np.median])

                                       min            max        median
method
Astrometry                      246.360000    1016.000000    631.180000
Eclipse Timing Variations      1916.250000   10220.000000   4343.500000
Imaging                        4639.150000  730000.000000  27500.000000
Microlensing                   1825.000000    5100.000000   3300.000000
Orbital Brightness Modulation     0.240104       1.544929      0.342887
Pulsar Timing                     0.090706   36525.000000     66.541900
Pulsation Timing Variations    1170.000000    1170.000000   1170.000000
Radial Velocity                   0.736540   17337.500000    360.200000
Transit                           0.355000     331.600590      5.714932
Transit Timing Variations        22.339500     160.000000     57.011000

In [22]:
df.groupby('method')[['orbital_period', 'distance']].aggregate(['count', 'min', max, 'mean', 'std'])

                              orbital_period                              \
                                       count          min            max
method
Astrometry                                 2   246.360000    1016.000000
Eclipse Timing Variations                  9  1916.250000   10220.000000
Imaging                                   12  4639.150000  730000.000000
Microlensing                               7  1825.000000    5100.000000
Orbital Brightness Modulation              3     0.240104       1.544929
Pulsar Timing                              5     0.090706   36525.000000
Pulsation Timing Variations                1  1170.000000    1170.000000
Radial Velocity                          553     0.736540   17337.500000
Transit                                  397     0.355000     331.600590
Transit Timing Variations                  3    22.339500     160.000000

                                                            distance           \
                                        mean            std    count      min
method
Astrometry                        631.180000     544.217663        2    14.98
Eclipse Timing Variations        4751.644444    2499.130945        4   130.72
Imaging                        118247.737500  213978.177277       32     7.69
Microlensing                     3153.571429    1113.166333       10  1760.00
Orbital Brightness Modulation       0.709307       0.725493        2  1180.00
Pulsar Timing                    7343.021201   16313.265573        1  1200.00
Pulsation Timing Variations      1170.000000            NaN        0      NaN
Radial Velocity                   823.354680    1454.926210      530     1.35
Transit                            21.102073      46.185893      224    38.00
Transit Timing Variations          79.783500      71.599884        3   339.00


                                   max         mean          std
method
Astrometry                       20.77    17.875000     4.094148
Eclipse Timing Variations       500.00   315.360000   213.203907
Imaging                         165.00    67.715937    53.736817
Microlensing                   7720.00  4144.000000  2076.611556
Orbital Brightness Modulation  1180.00  1180.000000     0.000000
Pulsar Timing                  1200.00  1200.000000          NaN
Pulsation Timing Variations        NaN          NaN          NaN
Radial Velocity                 354.00    51.600208    45.559381
Transit                        8500.00   599.298080   913.876990
Transit Timing Variations      2119.00  1104.333333   915.819487

In [23]:
df.groupby('method').aggregate({'orbital_period' : [min, max],
                               'distance' : ['mean', np.median]})

                              orbital_period                    distance  \
                                         min            max         mean
method
Astrometry                        246.360000    1016.000000    17.875000
Eclipse Timing Variations        1916.250000   10220.000000   315.360000
Imaging                          4639.150000  730000.000000    67.715937
Microlensing                     1825.000000    5100.000000  4144.000000
Orbital Brightness Modulation       0.240104       1.544929  1180.000000
Pulsar Timing                       0.090706   36525.000000  1200.000000
Pulsation Timing Variations      1170.000000    1170.000000          NaN
Radial Velocity                     0.736540   17337.500000    51.600208
Transit                             0.355000     331.600590   599.298080
Transit Timing Variations          22.339500     160.000000  1104.333333


                                 median
method
Astrometry                       17.875
Eclipse Timing Variations       315.360
Imaging                          40.395
Microlensing                   3840.000
Orbital Brightness Modulation  1180.000
Pulsar Timing                  1200.000
Pulsation Timing Variations         NaN
Radial Velocity                  40.445
Transit                         341.000
Transit Timing Variations       855.000