In [1]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Collecting ipython-sql',
 '  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.2.0)',
 'Collecting prettytable<1',
 '  Downloading prettytable-0.7.2.zip (28 kB)',
 'Requirement already satisfied: ipython>=1.0 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (7.27.0)',
 'Collecting sqlparse',
 '  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.4.22)',
 'Requirement already satisfied: six in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.16.0)',
 'Requirement already satisfied: setuptools>=18.5 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (58.0.4)',
 'Requirement already satisfied: matplotlib-inline in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)',
 'Requirement already satisfied: backcall in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)',
 'Requirement already satisfied: traitlets>=4.2 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)',
 'Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)',
 'Requirement already satisfied: appnope in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)',
 'Requirement already satisfied: pickleshare in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)',
 'Requirement already satisfied: pexpect>4.3 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)',
 'Requirement already satisfied: decorator in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)',
 'Requirement already satisfied: pygments in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)',
 'Requirement already satisfied: jedi>=0.16 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.2)',
 'Requirement already satisfied: parso<0.8.0,>=0.7.0 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)',
 'Requirement already satisfied: ptyprocess>=0.5 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)',
 'Requirement already satisfied: wcwidth in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)',
 'Requirement already satisfied: greenlet!=0.4.17 in /Users/macbook/opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)',
 'Building wheels for collected packages: prettytable',
 '  Building wheel for prettytable (setup.py): started',
 "  Building wheel for prettytable (setup.py): finished with status 'done'",
 '  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=7a23462b9483cba7b6915827b959ecf0268a582d80e62382707010a66487d9fd',
 '  Stored in directory: /Users/macbook/Library/Caches/pip/wheels/48/6d/77/9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68',
 'Successfully built prettytable',
 'Installing collected packages: sqlparse, prettytable, ipython-sql',
 'Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.2']

In [2]:
%load_ext sql

In [4]:
%sql sqlite:///vbo.db

In [10]:
%%sql
SELECT * FROM Orders LIMIT 3;

 * sqlite:///vbo.db
Done.

[(10248, 90, 5, '4.07.1996', 3),
 (10249, 81, 6, '5.07.1996', 1),
 (10250, 34, 4, '8.07.1996', 2)]

# Manuel Tablo Olusturmak

In [11]:
%%sql
CREATE TABLE yeni_tablo(firstname varcahr(20),
                       lastname varcahr(20))

 * sqlite:///vbo.db
Done.

[]

## Tabloya Deger Eklemek

In [12]:
%%sql
INSERT INTO yeni_tablo VALUES('Ali', 'Uzaya_Git')

 * sqlite:///vbo.db
1 rows affected.

[]

In [16]:
%sql SELECT * FROM yeni_tablo;

 * sqlite:///vbo.db
Done.

[('Mehmet', 'Cevik'), ('Ali', 'Uzaya_Git'), ('Abdullah', 'SQL_Ogren')]

# SELECT islemleri

In [17]:
%%sql
SELECT * FROM Products Limit 3;

 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)]

In [34]:
# Veri Tabanindaki tum tablolari secme

%sql SELECT name FROM sqlite_master WHERE type = 'table';

 * sqlite:///vbo.db
Done.

[('Categories',),
 ('Customers',),
 ('Employees',),
 ('OrderDetails',),
 ('Orders',),
 ('Products',),
 ('Shippers',),
 ('Suppliers',),
 ('yeni_tablo',)]

In [24]:
# Bir Tabloda degisken isimlerine ulasmak

%%sql
SELECT * FROM Customers WHERE 1=0;

 * sqlite:///vbo.db
Done.

[]

In [35]:
# Bir Tabloda istedigin kolonlari secmek

%sql SELECT CustomerName, City FROM Customers LIMIT 3;

 * sqlite:///vbo.db
Done.

[('Alfreds Futterkiste', 'Berlin'),
 ('Ana Trujillo Emparedados y helados', 'México D.F.'),
 ('Antonio Moreno Taquería', 'México D.F.')]