In [1]:
# Yikleme islemi (install)
'''
%%!
pip install --trusted-host pypi.org ipython-sql
'''

'\n%%!\npip install --trusted-host pypi.org ipython-sql\n'

In [2]:
%load_ext sql

In [3]:
# Baglanti islemi (Connect)

%sql sqlite:///vbo.db

In [4]:
%%sql
SELECT * FROM Orders LIMIT 3;

 * sqlite:///vbo.db
Done.

[(10248, 90, 5, '4.07.1996', 3),
 (10249, 81, 6, '5.07.1996', 1),
 (10250, 34, 4, '8.07.1996', 2)]

# Manuel Tablo Olusturmak

In [5]:
%%sql
CREATE TABLE yeni_tablo(firstname varcahr(20),
                       lastname varcahr(20))

 * sqlite:///vbo.db
(sqlite3.OperationalError) table yeni_tablo already exists
[SQL: CREATE TABLE yeni_tablo(firstname varcahr(20),
                       lastname varcahr(20))]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

## Tabloya Deger Eklemek

In [6]:
%%sql
INSERT INTO yeni_tablo VALUES('Ali', 'Uzaya_Git')

 * sqlite:///vbo.db
1 rows affected.

[]

In [7]:
%sql SELECT * FROM yeni_tablo;

 * sqlite:///vbo.db
Done.

[('Mehmet', 'Cevik'),
 ('Ali', 'Uzaya_Git'),
 ('Abdullah', 'SQL_Ogren'),
 ('Ali', 'Uzaya_Git'),
 ('Ali', 'Uzaya_Git'),
 ('Ali', 'Uzaya_Git')]

# SELECT islemleri

In [8]:
%%sql
SELECT * FROM Products Limit 3;

 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)]

In [9]:
# Veri Tabanindaki tum tablolari secme

%sql SELECT name FROM sqlite_master WHERE type = 'table';

 * sqlite:///vbo.db
Done.

[('Categories',),
 ('Customers',),
 ('Employees',),
 ('OrderDetails',),
 ('Orders',),
 ('Products',),
 ('Shippers',),
 ('Suppliers',),
 ('yeni_tablo',)]

In [10]:
# Bir Tabloda degisken isimlerine ulasmak

%sql SELECT * FROM Customers WHERE 1=0;

 * sqlite:///vbo.db
Done.

[]

In [11]:
# Bir Tabloda istedigin kolonlari secmek

%sql SELECT CustomerName, City FROM Customers LIMIT 3;

 * sqlite:///vbo.db
Done.

[('Alfreds Futterkiste', 'Berlin'),
 ('Ana Trujillo Emparedados y helados', 'México D.F.'),
 ('Antonio Moreno Taquería', 'México D.F.')]