In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.simplefilter(action= 'ignore')

In [5]:
satislar = pd.read_csv('satislar.csv')
df = satislar.copy()
df.head()

   Aylar  Satislar
0      8   19671.5
1     10   23102.5
2     11   18865.5
3     13   21762.5
4     14   19945.5

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Aylar     30 non-null     int64
 1   Satislar  30 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 608.0 bytes

In [7]:
df.isnull().sum()

Aylar       0
Satislar    0
dtype: int64

## Basit Linear Regression (Simple Linear Regression)

In [8]:
# Bagimli ve Bagimsiz Degisken Atamasi

X = df[['Aylar']]
y = df['Satislar']

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

In [13]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

X_test

array([[-1.68268756],
       [ 1.33023274],
       [-0.82997427],
       [-0.88682182],
       [ 1.04599497],
       [ 0.76175721],
       [ 1.04599497],
       [-0.88682182],
       [-0.37519385],
       [ 0.47751944]])

In [14]:
X_train

array([[-0.70368853],
       [ 0.15126015],
       [-0.63792324],
       [-0.0460357 ],
       [ 1.33503524],
       [ 0.80891298],
       [-1.29557607],
       [ 2.32151449],
       [-0.70368853],
       [-1.03251494],
       [ 0.48008657],
       [ 0.48008657],
       [-0.37486211],
       [-0.63792324],
       [ 1.66386166],
       [-1.09828023],
       [-1.42710664],
       [ 0.94044355],
       [ 0.08549487],
       [-0.30909683]])