In [1]:
import pandas as pd
import plotly.express as px
import streamlit as st


st.set_page_config(page_title='Sales Dashboard' ,page_icon=':bar_chart:', layout='wide')

In [2]:
# Read Excel

#@st.cache

def get_data_from_excel():
    df = pd.read_excel(
        io="supermarkt_sales.xlsx",
        engine="openpyxl",
        sheet_name="Sales",
        skiprows=3,
        usecols="B:R",
        nrows=1000,
    )
    df
    df['hour'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.hour
    return df


df = get_data_from_excel()

In [3]:
# ---- Side Bar ----

st.sidebar.header('Please Filter Here')

city = st.sidebar.multiselect(
        'Select City :',
        options = df['City'].unique(),
        default = df['City'].unique()
)

2023-01-22 16:17:58.660
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /opt/anaconda3/lib/python3.9/site-packages/ipykernel_launcher.py [ARGUMENTS]

In [4]:
df.groupby(by=["Product line"]).sum()[["Total"]].sort_values(by="Total")

                             Total
Product line
Health and beauty       49193.7390
Home and lifestyle      53861.9130
Fashion accessories     54305.8950
Electronic accessories  54337.5315
Sports and travel       55122.8265
Food and beverages      56144.8440

In [5]:
pwd

'/Users/macbook/Desktop/projects/Github_Repositories/Trainings/What_I_do'