In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
#import seaborn as sns
#sns.set()
#sns.set_theme(style="whitegrid")

import warnings
warnings.simplefilter(action='ignore')

In [4]:
df = pd.DataFrame({'a' : [1,2,3,4,5],
                  'b' : [5,4,3,2,1]})
df

   a  b
0  1  5
1  2  4
2  3  3
3  4  2
4  5  1

In [ ]:
#Butun kolon ve satirlari gormek icin
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

pd.reset_option("display.max_rows")
pd.reset_option('display.max_columns')

pd.options.display.max_colwidth = 50

#virgulden sonra gösterilecek olan sayı 2 basamak olarak ayarlanıyor.
pd.options.display.float_format = '{:,.2f}'.format

pd.options.plotting.backend = 'plotly'

# https://matplotlib.org/stable/gallery/color/named_colors.html ==> Matplotlib Color isimleri

In [ ]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install pandas

# Print versions
import platform
print(platform.python_version())




# ------------- Pip Details -------------- #
#Details of installed package:
pip show
#List of installed packages: 
pip list, pip freeze
#Install a package: pip install
Install from local or GitHub
#Update a package: 
pip install --upgrade
Update pip itself
#Uninstall a package: 
pip uninstall
#Check for dependencies: 
pip check

In [ ]:
import ssl

try:
   _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    # Legacy Python that doesn't verify HTTPS certificates by default
    pass
else:
    # Handle target environment that doesn't support HTTPS verification
    ssl._create_default_https_context = _create_unverified_https_context


# 2. Yol
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

# show image Jupyternotebook

In [ ]:
from IPython.display import Image
path = '/Users/macbook/Desktop/Plot01.PNG'
Image(path, width=700, height=100)

# Klib

In [ ]:
import klib
import pandas as pd

df = pd.DataFrame(data)

# klib.describe - functions for visualizing datasets
- klib.cat_plot(df) # returns a visualization of the number and frequency of categorical features
- klib.corr_mat(df) # returns a color-encoded correlation matrix
- klib.corr_plot(df) # returns a color-encoded heatmap, ideal for correlations
- klib.dist_plot(df) # returns a distribution plot for every numeric feature
- klib.missingval_plot(df) # returns a figure containing information about missing values

# klib.clean - functions for cleaning datasets
- klib.data_cleaning(df) # performs datacleaning (drop duplicates & empty rows/cols, adjust dtypes,...)
- klib.clean_column_names(df) # cleans and standardizes column names, also called inside data_cleaning()
- klib.convert_datatypes(df) # converts existing to more efficient dtypes, also called inside data_cleaning()
- klib.drop_missing(df) # drops missing values, also called in data_cleaning()
- klib.mv_col_handling(df) # drops features with high ratio of missing vals based on informational content
- klib.pool_duplicate_subsets(df) # pools subset of cols based on duplicates with min. loss of information

# OS

In [3]:
# See file
pwd


# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
import os
for dirname, _, filenames in os.walk(''):
    for filename in filenames:
        print(os.path.join(dirname, filename))
# Any results you write to the current directory are saved as output.


cwd = os.getcwd()  # your current working directory (cwd)
files = os.listdir(cwd)  # This will Get all the files in that directory
print("Files in %r: %s" % (cwd, files))

'/Users/macbook/Desktop/projects/Github_Repositories/Trainings/Data_Preprocessing'

# Basics

## pd.read_csv()

In [ ]:
# Date kolonkarini DATE formatinda okumak icin
df = pd.read_csv('NAME.csv', parse_dates=['DATE_Column'], dtype={'Monetary' : np.float64})
# veya
df['Date'] = pd.to_datetime(df['Date'])

## Numpy

In [ ]:
np.random.randint(20) # Bir tane sayi uretir, 20 ye kadar olan sayilardan
np.random.randint(1,20, 5) # 5 tane sayi uretir, 1-20 arasindan random
np.random.seed(42) # Kaynak belirlersin , random sayilar degismez

np.around(array, decimal)
np.around(df.col1 , 2)


df.columns = [x.upper() for x in df.columns]
df.rename(columns= {'col1' : 'new_name1' ,
                    'col2' : 'new_name2'})

round(number, decimal)
round(185.33, 1)


# empty dataframe create (bos df olusturmak)
df = pd.DataFrame(columns=["Rank", "Country", "Population"])

In [ ]:
# List to DataFrame (Farkli )

In [ ]:
d = dict(job_title=np.array(list_header), publish=np.array(list_publish), company_name=np.array(list_company))
df = pd.DataFrame.from_dict(d, orient='index')
df = df.T

# Save , Excel Save

In [ ]:
# Unnmaed : 0 olmamasi icin index=False
pd.to_csv("NAME.csv", index=False)


# unnamed varsa 
        pd.read_csv('file.csv', index_col=[0])

        # delete one by one like column is 'Unnamed: 0' so use it's name
        df.drop('Unnamed: 0', axis=1, inplace=True)

# Large Datasets 
df.to_parquet('Name.parquet')
df.to_feather('Name.feather')
df.to_pickle('Name.pickle')

In [ ]:
# istedgin DataFrame Excele kaydet
writer = pd.ExcelWriter('NAME.xlsx')

# df.info(), df.describe(), df.quantile()
df.dtypes.reset_index(name='Dtype').rename(columns={'index' : 'Column'}).to_excel(writer, 'info')
df.describe().T.to_excel(writer, 'describe')
df.quantile([0.01,0.25,0.50,0.75,0.99]).T.to_excel(writer, 'quantile')

writer.save()

## append data frame to CSV file

In [ ]:
df.to_csv('Name.csv', mode='a', index=False, header=False)

# Index Islemleri

In [ ]:
#En buyuk degerin  indexini bulmak
----------------- 1. yol -----------------
df["col1"].idxmax()
----------------- 2. yol -----------------
#En buyuk degerleri kolay bulmak
df.nlargest(10, "col1")

----------- .difference() --------------- (index karsilastirmak birinci olup ikincide olmayanlar i1 - i2 )
index1 = pd.Index([1, 2, 3, 4])
index2 = pd.Index([3, 4, 5, 6])
index1.difference(index2)
#Output ==== > Int64Index([1, 2], dtype='int64')

## Set Index

In [ ]:
## yeni index atama (assign a new index)
new_index=['a','b','c','d','e','f','g','h']
## 01
df.index = new_index
##02
df_new = df.set_index([new_index])

L2 = df_jobs.loc[df_jobs['Key Skills'].str.contains('C#')].index
print(len(L2))
L2.difference(L)

## Set Columns

In [ ]:
----------------- df.columns.tolist() -----------------
cols = df.columns.tolist()
cols
# sonra kendin listeyi duzenle 
df = df[cols]

----------------- 2. yol -----------------
df = df[['col3', 'col2', 'col1', ]]

----------------- 3. yol -----------------
df.insert(10, "Col3", df.pop("Col3"))


----------------- KOLON sirasi degistirme -----------------
df.insert(2, 'label', df.pop('label'))

----------------- Butun Kolon isimlerini Lambda ile degistirmek -----------------
df_new = df_jobs['Key Skills'].str.split('|', expand= True) # ==> yeni kolonlara ayrilir 

df_new.rename(columns = lambda x : 'a' + str(x), inplace=True) #==> isim basina a ekler a0 a1 a2 a3 ....

----------------- Kolon ismi Degistirme -----------------
df.rename(columns={"A": "a", "B": "c"})

----------------- Kolon ismi lowercase yapma -----------------
df.Col1.str.lower().value_counts()

# Tek kolonu 3 e ayirmak SPLIT

In [ ]:
----------------- split -----------------
0                    ALLEN PHILLIP K
df[['lastname', 'firstname', 'middle initial']] = df['name'].str.split(expand=True)

## Select Numeric columns and to list

In [ ]:
df.select_dtypes(include=np.number)
df.select_dtypes(include=np.number).columns.tolist()

## Select Categorical columns

In [ ]:
df.select_dtypes(exclude=np.number)

# Dropna

In [ ]:
----------------- drop -----------------
df.drop('index1', axis=0, inplace=True)
df.drop('col1', axis=1, inplace=False)


----------------- dropna -----------------
df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
how = 'any' , 'all'
thresh = 2 en az iki tane NAN olmali
subset= ['col1', 'col2'] # hangi kolonlara bakilacak

----------------- str.replace & .astype-----------------
$1,182.00 ======> 1182.00$
df[['col1', 'col2']] = df[['col1', 'col2']].apply(lambda x : x.str.replace('$','').str.replace(',','')).astype(float)

df.loc[df.col1.str.contains('tag'), 'col1'] = df.loc[df.publish.str.contains('xyz'), 'col1'].str.replace('\D+', '')

# Filtering

In [ ]:
df[0:3]
df[0:3]['col1']
df[0:3][['col1', 'col2']]

df[df.col1 > 20] ==> bu kosulu saglayan
df.price[df.price > 2500] ==> sadece price kolonu
df[['price', 'model']][df.price > 2500] ==> price ve model kolonu

filt = df.Region == 'Rietberg'
df.loc[filt]

## df.loc

In [ ]:
001----------------- df.loc  ----------------- (labels)
df.loc[rows, columns]
df.loc[[0.3], :]
df.loc[[0,3,5], ['make', 'price']]
df.loc[3, 'price':'year']

## df.iloc

In [ ]:
002----------------- df.iloc ----------------- (index)
df.loc[0:3] ==> 3. index dahil
df.iloc[0:3] ==> 3. index dahil degil

# df.shift

In [9]:
#initializing pandas dataframe with numpy arrays
df = pd.DataFrame(np.random.randint(1, 100, 10).reshape(-1, 2), columns = list('ab'))

#applying leads and lags by shifting dataframe column up and down respectively
df['lag(a,1)'] = df['a'].shift(1)

df['lag(a,5)'] = df['a'].shift(5)

df['lead(b,-1)'] = df['b'].shift(-1)

df['lead(b,-4)'] = df['b'].shift(-4)

print(df)

    a   b  lag(a,1)  lag(a,5)  lead(b,-1)  lead(b,-4)
0  68  40       NaN       NaN        48.0        63.0
1  54  48      68.0       NaN        44.0         NaN
2   8  44      54.0       NaN        73.0         NaN
3  91  73       8.0       NaN        63.0         NaN
4  85  63      91.0       NaN         NaN         NaN

In [10]:
import pandas as pd

# DataFrame'i oluşturma
data = {
    'Month': ['jan', 'feb', 'mar', 'avr', 'mai', 'jui', 'jui', 'aou', 'sep', 'oct', 'nov', 'dec']
}

df = pd.DataFrame(data)

# Ay numaralarını atama
month_mapping = {'jan': 1, 'feb': 2, 'mar': 3, 'avr': 4, 'mai': 5, 'jui': 6, 'aou': 8, 'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12}
df['Month'] = df['Month'].map(month_mapping)

# İkinci 'jui' değerini 7 yapma
filter01 = (df['Month'] == 6) & (df.duplicated(subset=['Month']))
df.loc[filter01, 'Month'] = 7

print(df)

    Month
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10     11
11     12

In [11]:
# DataFrame'i oluşturma
data = {
    'Month': ['jan', 'feb', 'mar', 'avr', 'mai', 'jui', 'jui', 'aou', 'sep', 'oct', 'nov', 'dec']
}

df = pd.DataFrame(data)

# Ay numaralarını atama
month_mapping = {'jan': 1, 'feb': 2, 'mar': 3, 'avr': 4, 'mai': 5, 'jui': 6, 'aou': 8, 'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12}
df['Month'] = df['Month'].map(month_mapping)

index6 = df.loc[df.Month == 6, 'Month'].index

print("index6 = ",index6)

df.iloc[index6[1]] = 7

print('df')
print(df)

index6 =  Index([5, 6], dtype='int64')
df
    Month
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10     11
11     12

## df.query

In [ ]:
003----------------- df.query -----------------
df.query('col1>10')
df.query('col1 == "Mitte"')
df.query('col1 == "Mitte"& col2<1500')

eger sayisal deger strings is 
min_year = 1980
min_time = 10

asagidaki 3 sey ayni
df.query('Year <' + str(min_year) + 'and Time' + str(min_time))
df.query(f'Year < {min_year} and Time {min_time}')
df.query('Year < @min_year and Time @min_time')

## df.isin

In [ ]:
004----------------- df.isin -----------------
df.loc[df.col1.isin(['usa', 'tr', 'de'])]

list1 = ['usa', 'tr', 'de']
filt = df['col1'].isin(list1)
df.loc[filt]

## df.str.match

In [ ]:
005----------------- .str.match('start') ----------------- (#Abd ile baslayanlari bul)
df.loc[df["col1"].str.match("Abd")]

## df.str.contains

In [ ]:
005.1----------------- .str.contains('xyz') -----------------
df.loc[df.col1.str.contains('xyz')]

005.2----------------- .str.contains('xzy') ----------------- (#bir liste iceren kolondan bilgi secip dataFrame yapmak)
top10_Laguages = ['JavaScript', 'Html', 'SQL', 'Bash', 'Python', 'Java', 'C#', 'Typescript', 'PHP', 'C+\+']
d = {'Language' : [] , 'Num_of_Jobs' : []}
for i in top10_Laguages:
    d['Language'] += [i]
    d['Num_of_Jobs'] += [df_jobs.loc[df_jobs['Key Skills'].str.contains(i), ['Key Skills']].count()[0]]
    print(i , df_jobs.loc[df_jobs['Key Skills'].str.contains(i), ['Key Skills']].count()[0])
pd.DataFrame(data=d).sort_values(by= 'Num_of_Jobs', ascending=False)

## df.iterows()

In [ ]:
for i, row in df.iterrows():
    if row['Year'] > 2000:
        df.loc[i, 'is_recent'] = True
    else:
        df.loc[i, 'is_recent'] = False

df['is_recent'] = df['Year'] > 2000

### Groupby with agg func.

In [ ]:
df_model_gr = df.groupby(df.Model, as_index=False).agg({"Price": ['mean', 'median','min', 'max']}) # ic ice index olusuyor


    Model	                                Price
               mean	     median	     min	  max
0	Accord	305000.00	337500.00	15000	430000
1	Amarok	602817.06	590000.00	16000	950000
------------------------------------------------------------------------------------------------------------------------------


df2 = df.loc[(df.Kind == 'furgon') | (df.Kind == 'minivan')]
df2.groupby(['Make', 'Model','Kind'], as_index=False).agg({"Price": ['mean','min', 'max'],
                                                          "Kms": ['mean'],
                                                          "Year":['mean', 'min', 'max'],
                                                          "Variant": ['count']}).sort_values([('Price', 'mean')], ascending=False)

      Make	         Model	       Kind	               Price	   Kms	                   Year	   Variant
                                            mean	min	 max	  mean	    mean	min	    max	       count
0	Chrysler	town_&_country	minivan	712000	64000	1100000	 75732	    2013	2012	2016	    8
1	Ford	    transit	f      urgon	550000	500000	650000	 101333	    2012	2011	2013	    3
------------------------------------------------------------------------------------------------------------------------------
# Rename Columns in AGG Function
df3 = df.groupby(['cus_id', 'year']).agg({'order_number' :  'nunique',
                                                            'month' : ['max', 'min' ],
                                                            'city_(billing)' : 'nunique'}).reset_index()

df3.columns = ['cus_id', 'year', 'num_of_order', 'month_max', 'month_min', 'num_of_city']
------------------------------------------------------------------------------------------------------------------------------


# Give new column name with groupby 
df.groupby('name').agg(
    max_customers = pd.NamedAgg(column='Customers', aggfunc=max),
    mean_avg_bill = pd.NamedAgg(column='AvgBill', aggfunc=pd.Series.mean),
)
------------------------------------------------------------------------------------------------------------------------------


# Give new Column Name 
df.groupby('dummy').agg(Mean=('returns', 'mean'), Sum=('returns', 'sum'))
df.groupby('dummy')['returns'].agg(Mean='mean', Sum='sum')
------------------------------------------------------------------------------------------------------------------------------

# df.style()

In [ ]:
df.col1.sort_values('col2', ascending=False).reset_index().style.background_gradient(cmap='Reds')

In [11]:
df.sort_values('b').style.background_gradient(cmap='Reds')

In [35]:
df.sort_values('b').style.format('{:.1f}').bar(cmap='brg_r', align=0, vmin=1, vmax=5, width=80, height=50).text_gradient(cmap='brg_r', vmin=1, vmax=5)

# df.pct_change() and df.diff()

In [ ]:
df['col1'].pct_change() ====> bir usteki kolon ile yuzdelik farki hesaplar
df.['col2'].diff()  =====> bir ustteki kolon ile farki hesaplar

# assign

In [ ]:
001----------------- df.assign  ----------------- 
# Assign new columns to a DataFrame
df.col1 = df.col1.apply(lambda x: 'genc' if x<30 else 'yasli)
df['new_col'] = df.col1.apply(lambda x: 'genc' if x<30 else 'yasli)                              

df.assign(new_col=lambda x: x.col2 * 10) ==> #DataFrame degismez sadece ne oluyor onu gorursun
df['new_col'] = df.assign(new_col=lambda x: x.col2 * 10)
#df['new_col'] = df.assign(lambda x : x.age.map(lambda x: 'Genc' if x<30 else 'Yasli'))


002----------------- df.loc  ----------------- 
# Yukardaki ile ayni ama tek atama yapar Yasli icin ayri yapmak lazim
df.loc[df['age'] < 30, 'new_col'] = 'Gencc'

003----------------- df.col1.map  ----------------- 
dic1 = {'Mitte' : 'NRW', 'Kreuzberg': 'Berlin', 'Value_old' : 'New_Value'}
df['new_col'] = df.col1.map(dic1)

# duplicated values

In [ ]:
df.duplicated().sum()

# concat, merge

In [ ]:
----------------- concat -----------------
pd.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=True)

pd.concat([df1,df2], axis=1, ignore_index=True, join='inner') 
axis= 0, 1 # 0 alt alta ekler , 1 yan yana ekler
ignore_index= True , False #  True sirali index olur , False eski indexler kalir    
join= 'inner', 'outer'  # inner= ayni kolonlari alir, 
verify_integrity=True # Duplicate kontrol eder




----------------- concat, drop_duplicates ----------------- (#How to remove a pandas dataframe from another dataframe)
df1=pd.DataFrame([[1,2],[3,4],[5,6]],columns=['a','b'])
    a	b
0	1	2
1	3	4
2	5	6
df2=pd.DataFrame([[1,2],[5,6]],columns=['a','b'])
    a	b
0	1	2
1	5	6

pd.concat([df1, df2]).drop_duplicates(keep=False)
	a	b
1	3	4


----------------- merge -----------------
# sadece 2 DataFrame birlestirlir
pd.merge(df1,df2, on='ayni_kolon', suffixes=['_df1','_df2']) ==> kolon adlarina x ve y yerine istedigini yazar
pd.merge(df1,df2, on='ayni_kolon', how='inner') # how = inner, outer, left , right
    
    
df_merged = df1.merge(df2, ,on=[''],
                     suffixes= ('_df1', '_df2'),
                     validate= 'm:m')
# Validate options
'one_to_one' or '1:1'
'one_to_many' or '1:m'
'many_to_one' or 'm:1'
'many_to_many' or 'm:m'

# Pivot Table

In [ ]:
----------------- Pivot Table -----------------

df.pivot_table(index='rfm_score', columns=['cluster_mem'], values=['monetary','frequency','recency'])

# agg_func=np.mean  , np.sum

                                    frequency	                    monetary	                    recency
cluster_mem	0.000	1.000	2.000	3.000	0.000	1.000	2.000	3.000	0.000	1.000	2.000	3.000
rfm_score												
144	          NaN	4.000	4.000	4.000	NaN	    160.620	164.952	146.130	NaN	    62.000	34.833	86.000
145	          NaN	4.000	4.000	NaN	    NaN	    240.477	289.937	NaN	    NaN	    44.750	37.000	NaN
151	          NaN	5.000	NaN	    NaN	    NaN	    1.480	NaN	    NaN	    NaN	    55.000	NaN	    NaN
154	          NaN	5.000	NaN	    NaN	    NaN	    136.700	NaN	    NaN	    NaN	    35.000	NaN	    NaN
155	          NaN	10.500	6.111	8.000	NaN	    312.865	388.798	467.790	NaN	    19.000	46.444	35.000
211	          1.000	NaN	    NaN	    NaN	    19.084	NaN	    NaN	    NaN	    185.725	NaN	    NaN	    NaN

# cut (bins)

In [ ]:
bins = [0,500,1000,1500]
labels = ['ucuz', 'normal', 'pahali']
df['new_col'] = pd.cut(df['price'], bins=bins, labels=labels) ===> #1500 den buyuk degerler NAN atanir !!

# REGEX (.strip)

In [ ]:
Regex 

001----------------- r'\W' -----------------
Matches anything other than a letter, digit or underscore
df.price = df.price.str.replace(r'\W', '')

df['price2'] = df.price.str.replace('\D+', '').replace(' ', '').replace('', 0).astype('int32')

002----------------- df.col.strip('') -----------------# basdan ve sondan bosluklari siler yada secilen karakteri
lstrip(), rstrip()
secilen karekteri heryerden siler
df.col1 = df.col1.strip('any carachter')

003----------------- df.col.replace('') -----------------
# Rakami Secer String icinden
df.coloumn.str.replace('\D+', '')

# Ayni Kolonda birden fazla replace yapmak icin 
df.replace({'column01' : {'Medium':2, 'Small':1, 'High':3 }}, regex=True)

# function or apply

In [ ]:
def func1(value):
    """ Explain What makes func1 """
    new_value = value.replace("," , "").replace("  ", "")
    return (new_value.astype("float"))

df["col1"].apply(func1)   

#oder

df["col1"] = df["col1"].apply(lambda x : x.replace("," , "").replace("  ", "")).astype("float")

# Python

## Kumlerde Islemler

In [ ]:
# Kesisim , Birlesim (set, kumeler , 2 kolon)
cus2021 = df1.loc[df1.year == 2021].cus_id
cus2022 = df1.loc[df1.year == 2022].cus_id

# Kesisim
cus2021.intersection(cus2022)
len(set(cus2021) & set(cus2022)
    
# Iki kume Farki
k1.difference(k2)

## enumerate , zip

In [6]:
list01 = ['a', 'b', 'c']
list02 = ['deger1', 'deger2', 'deger3']

for i, value in enumerate(list01):
    print(i, value)

0 a
1 b
2 c

In [7]:
for i,j,k in zip(list01, list02, list01):
    print(i,j,k)

a deger1 a
b deger2 b
c deger3 c

## sorted (tuple)

In [1]:
random_list = [(2, 2), (3, 4), (4, 1), (1, 3)]
print(sorted(random_list, key= lambda x : x[1]))  # ikinci elemana gore siralar

[(4, 1), (2, 2), (1, 3), (3, 4)]

## filter func

In [3]:
top10_Laguages = ['javascript', 'html', 'sql', 'bash', 'python', 'java', 'typescript', 'php', 'c#', 'c+\+', 'c']
new_list = filter(lambda x: x != 'javascript', top10_Laguages)
list(new_list)

['html',
 'sql',
 'bash',
 'python',
 'java',
 'typescript',
 'php',
 'c#',
 'c+\\+',
 'c']

## Print Func. Decimal

In [ ]:
jb, pvalue = jarque_bera(df.Price)
print(f'{jb} , {pvalue}')
print("JB: %.3f" % jb , 'PVALUE: %.4f' % pvalue)
print('%.3f' % jb, pvalue)

# RFM Codes

In [ ]:
# Recap 03

today = dt.datetime(2022,12,12)
dfrfm = df_merge_02[['Cus_ID', 'date_max']]

# Add Recency Column
dfrfm['recency'] = today - dfrfm.date_max

# Add Frequency Column
dfrfm['frequency'] = df_merge_02['total_num_of_invoice']

# Add Monetary Column
dfrfm['monetary'] = df_merge_02['total_bill']
dfrfm.drop('date_max', axis=1, inplace=True)

#Recency Bulma
dfrfm = dfrfm.sort_values('recency', ascending=True)
dfrfm['rec_tile'] = pd.qcut(dfrfm['recency'], 5, labels=False)

#Frequency Bulma
def FScore(x,p,d):
    if x<=d[p][0.60]:
        return 0
    if x<=d[p][0.90]:
        return 1
    if x<=d[p][0.98]:
        return 2
    if x<=d[p][0.99]:
        return 3
    else:
        return 4
    
quantiles = dfrfm.quantile(q= [.60, .90, .98, .99, .999999])
quantiles = quantiles.to_dict()
dfrfm['freq_tile'] = dfrfm['frequency'].apply(FScore, args=('frequency',quantiles))

#Monetary bulma
dfrfm['mone_tile'] = pd.cut(dfrfm['monetary'], bins=[0, 30, 60, 100, 200, 5000], labels=[1,2,3,4,5])

# 'Sifir' degeri yer almasin istiyorsak
dfrfm['rec_tile'] = dfrfm['rec_tile'] + 1
dfrfm['freq_tile'] = dfrfm['freq_tile'] + 1
#dfrfm['mone_tile'] = dfrfm['mone_tile'] + 1

# Buldugumuz Degerleri birlestirip tek bir skor elde ediyoruz
dfrfm['rfm_score'] = dfrfm['rec_tile'].map(str)+dfrfm['freq_tile'].map(str)+dfrfm['mone_tile'].astype('string').str.replace('.0','')
dfrfm.head()

# DATA ANALYSIS

## Missing Values

In [ ]:
df.isna().apply(pd.value_counts)
df.isna().sum()

In [ ]:
# Getting Null Values
df[pd.isnull(df.column)]

# Getting all null Columns
pd.DataFrame(df.isnull().sum(), columns = ['isnull'])
df.isna().sum().reset_index(name='null').rename(columns={'index' : 'column'})

# Getting notnull values
df[pd.notnull(df.column)]

*Messy datasets? Missing values? *missingno* provides a small toolset of flexible and easy-to-use missing data visualizations and utilities that allows you to get a quick visual summary of the completeness (or lack thereof) of your dataset.*

In [ ]:
# Missing Value Visualization
import missingno as msno
%matplotlib inline

# Matrix Visualization
msno.matrix(df)

#Bar Visualization
msn.bar(df)

# Missing Values Ratio
a=df.isnull().mean().round(4).mul(100).sort_values(ascending=False)
a.head(20)

## Skewness

In [ ]:
# 01-
# Observing all skewness and kurtosis 
df.skew()
df.kurtosis()

skewness = insurance_df.select_dtypes(include=np.number).skew()
skewness

# 02 -
# Observing ..... Histogram
train_df['SalePrice'].describe()
sns.distplot(train_df['SalePrice']);
#skewness and kurtosis
print("Skewness: %f" % train_df['SalePrice'].skew())
print("Kurtosis: %f" % train_df['SalePrice'].kurt())

### Skewness Plot (distplot)

In [ ]:
from scipy.stats import norm, lognorm, johnsonsu

y = df['COL']
plt.figure(1); plt.suptitle('Johnson SU')
sns.distplot(y, kde=False, fit=johnsonsu)
plt.figure(2); plt.title('Normal')
sns.distplot(y, kde=False, fit=norm)
plt.figure(3); plt.title('Log Normal')
sns.distplot(y, kde=False, fit=lognorm)

In [ ]:
### Transforming

In [ ]:
from scipy import stats
from scipy.stats import norm, skew,johnsonsu #for some statistics

# Plot histogram and probability
fig = plt.figure(figsize=(15,5))
plt.subplot(1,2,1)
sns.distplot(train_df['xxx'] , fit=norm);
(mu, sigma) = norm.fit(train_df['xxx'])
print( '\n mu = {:.2f} and sigma = {:.2f}\n'.format(mu, sigma))
plt.legend(['Normal dist. ($\mu=$ {:.2f} and $\sigma=$ {:.2f} )'.format(mu, sigma)],
            loc='best')
plt.ylabel('Frequency')
plt.title('xxx distribution')
plt.subplot(1,2,2)
res = stats.probplot(train_df['xxx'], plot=plt)
plt.suptitle('Before transformation')

# Apply transformation
train_df.SalePrice = np.log1p(train_df.SalePrice )
# New prediction
y_train = train_df.SalePrice
train_df_sp = train_df.SalePrice

# Plot histogram and probability after transformation
fig = plt.figure(figsize=(15,5))
plt.subplot(1,2,1)
sns.distplot(train_df['xxx'] , fit=norm);
(mu, sigma) = norm.fit(train_df['SalePrice'])
print( '\n mu = {:.2f} and sigma = {:.2f}\n'.format(mu, sigma))
plt.legend(['Normal dist. ($\mu=$ {:.2f} and $\sigma=$ {:.2f} )'.format(mu, sigma)],
            loc='best')
plt.ylabel('Frequency')
plt.title('xxx distribution')
plt.subplot(1,2,2)
res = stats.probplot(train_df['xxx'], plot=plt)
plt.suptitle('After transformation')

## Outliers

In [ ]:
def outlier_upper_lower(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.99) #===>Sen karar ver
    IQR = Q3 - Q1 
    upper_bound = Q3 + (1.5 * IQR)
    lower_bound = Q1 - (1.5 * IQR)

    print(f'lower bound :{lower_bound} , upper bound : {upper_bound}')
    print(f'Q1 :{Q1} , Q3 :{Q3}, IQR :{IQR}')
    df.loc[df[col] < lower_bound, col] = lower_bound      
    df.loc[df[col] > upper_bound, col] = upper_bound

    return df[col].median()

### Outliers BoxPlots

In [ ]:
# Asagidakileri sen Sec num Listesini
num  = ['Doors', 'Age', 'Make'] 

for var in num:
    #print(i)
    f, ax = plt.subplots(figsize=(8, 6))
    fig = sns.boxplot(x=var, y="Price", data=df)

### Interquantile

In [ ]:
df['col'].quantile([0.01,0.25,0.50,0.75,0.99])

## Feature Selection with Univariate Selection

In [ ]:
from sklearn.feature_selection import SelectKBest, f_regression, mutual_info_regression
#X = train_aft.iloc[:,0:237]  #independent columns
#y = train_aft.iloc[:,-1]#target column i.e price range

# SelectKBest class to extract top 10 best features
bestfeatures = SelectKBest(mutual_info_regression, k=15)
fit = bestfeatures.fit(X,Y)
dfscores = pd.DataFrame(fit.scores_)`
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(20,'Score'))  #print 10 best features

## Time Series

In [ ]:
import datetime as dt


# Column Type to DateTime
df['Date'] = pd.to_datetime(df['Date'])

# Date column to day , month, year column (date kolonunu 3 e ayiriyorsun)
def fetch_att(x):
    day = x.day
    month = x.month
    year = x.year
    return pd.Series([day, month, year])

df[['day', 'month', 'year']] = df['Date'].apply(fetch_att)

# Apply ile tek satirda uc kolona ayiriyorsun
df[['day', 'month', 'year']] = df['Order Date'].apply(lambda x: pd.Series([x.day, x.month, x.year]))


# Date to day ...
df['day'] = df['Date'].apply(lambda x: x.day)


# Gun Cikarmak ( 90 gun oncesine gitmek)
n_days = 90 
cutoffday = max_date - pd.to_timedelta(n_days, unit= 'd')

In [14]:
from datetime import datetime
import pandas as pd

today = datetime.today()
today

datetime.datetime(2022, 12, 15, 12, 56, 5, 683311)

In [16]:
today.weekday()

3

In [17]:
day_any = pd.Timestamp('2022-05-02')
day_any.day_name()

'Monday'

In [15]:
datetime.now()

datetime.datetime(2022, 12, 15, 12, 56, 15, 450138)

# Veri Gorsellestirme

## matplotlib

In [ ]:
# Tek satirda subplot

ax = df.plot(kind='scatter', 
             x = 'col1',
             y = 'col2',
             title = '',
            )


‘line’ : line plot (default)

‘bar’ : vertical bar plot

‘barh’ : horizontal bar plot

‘hist’ : histogram

‘box’ : boxplot

‘kde’ : Kernel Density Estimation plot

‘density’ : same as ‘kde’

‘area’ : area plot

‘pie’ : pie plot

‘scatter’ : scatter plot (DataFrame only)

‘hexbin’ : hexbin plot (DataFrame only)

# Data Engineer

## log() function

In [ ]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')